extends layout

block content
  h1= title
  .container
    h2 States
    button#online.btn Online
    br
    button#offline.btn Offleine
    br
    button#oncall.btn Call
    br
    button#offcall.btn OffCall
    br
    button#available.btn Available
